<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"> 
    
    <style>
        body    { padding-top:30px; }
    </style>

    <script src="http://code.angularjs.org/1.2.6/angular.js"></script>
    <script src="app.js"></script>

</head>
<body ng-app="validationApp" ng-controller="mainController">
<div class="container">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="page-header">
            <h1>Angular validation</h1>
            <form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>
                <!--NAME-->
                <div class="form-group" ng-class="{'has-error' : userForm.name.$invalid && !userFrom.name.$pristine && submitted}">
                    <label>Name</label>
                    <input type="text" name="name" class="form-control" ng-model="name" required>
                    <p ng-show="userForm.name.$invalid && !userForm.name.$pristine && submitted" class="help-block">Nombre obligatorio</p>
                </div>

                <!--USERNAME-->
                <div class="form-group" ng-class="{'has-error' : userForm.username.$invalid && !userFrom.username.$pristine && submitted}">
                    <label>Username</label>
                    <input type="text" name="username" class="form-control" ng-model="username" ng-minlength="3" ng-maxlength="8">
                    <p ng-show="userForm.username.$error.minlength && submitted" class="help-block">Demasiado corto</p>
                    <p ng-show="userForm.username.$error.maxlength && submitted" class="help-block">Demasiado largo</p>
                </div>

                <!-- EMAIL -->
                <div class="form-group" ng-class="{'has-error' : userForm.email.$invalid && !userFrom.email.$pristine && submitted}">
                    <label>Email</label>
                    <input type="email" name="email" class="form-control" ng-model="email">
                    <p ng-show="userForm.email.$invalid && !userForm.email.$pristine && submitted" class="help-block">Introduce un email valido</p>
                </div>

                <!--SUBMIT BUTTON-->
                <BUTTON type="submit" class="btn btn-primary">Submit</BUTTON>   
            </form>
        </div>
    </div>
</div> 
    

</body>
</html>